<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
<div class="justify-content-center">
  {{#each restaurants}}
    <div class="card mx-auto mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="/restaurants/{{this.id}}">
            <img class="" src="{{this.image}}" width="140px" height="140px">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <span class="badge badge-secondary">收藏數：{{this.FavoriteCount}}</span>
            <div class="row p-3">
              <a class="btn btn-primary mr-2" href="/restaurants/{{this.id}}">show</a>
              <div>
                {{#if isFavorited }}
                  <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">移除最愛</button></form>
                {{else}}
                  <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-primary">加到最愛</button></form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>